body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

#questions .entry, #answers .entry {
    margin: 20px 0 20px 0;
}

.entry .thing {
    margin: 0 10px 0 0;
}

.entry .votes {
    padding: 0 10px 0 0;
    text-align: center;
}

.entry .votes .votes-number {
    margin: 0;
}

.entry .thing .title {
    margin: 0 0 12px 0;
}

.entry .thing .info {
    margin: 0;
}
.entry .thing .info:after {
    content: '.';
    visibility: hidden;
}

.entry .thing .content {
    padding: 10px 0 10px 0;
}


#navigation-top {
    margin-top: 20px;
}

#navigation-bottom .pagination {
    margin: 5px 0;
}


#answerForm .form-group > * {
    margin: 10px 0 10px 0;
}

#answerForm .form-group > :first-child {
    margin: 0 0 10px 0;
}

#answerForm .form-group > :last-child {
    margin: 10px 0 0 0;
}
