
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<h4>Identification</h4>

<p><b>Course:</b> Tecnologias de Internet 2</p>
<p><b>Academic Year:</b> 2015/2016</p>
<p><b>Number</b> 17728 | Name: André Luís Paulino dos Santos | Foto: -</p>

<br />

<h4>Users</h4>
<p><b>Username:</b> Admin | <b>Email:</b> a@a.a | <b>Password:</b> QWERTY123@t | <b>Role:</b> Administrator</p>
<p><b>Username:</b> User1 | <b>Email:</b>  b@b.b | <b>Password:</b> QWERTY123@t | <b>Role:</b> ---</p>
<p><b>Username:</b> User2 | <b>Email:</b>  c@c.c | <b>Password:</b> QWERTY123@t | <b>Role:</b> ---</p>