
@{
    ViewBag.Title = "CookiePolicy";
}

<h2>Cookie Policy</h2>

<p><b>Credit</b></p>
<p>This document was created using a Contractology template available at <a href="http://www.freenetlaw.com">freenetlaw.com</a>.</p>

<br />

<p><b>About cookies</b></p>
<p>This website uses cookies.  By using this website and agreeing to this policy, you consent to QnA's use of cookies in accordance with the terms of this policy.</p>
<p>Cookies are files sent by web servers to web browsers, and stored by the web browsers.</p>
<p>The information is then sent back to the server each time the browser requests a page from the server.  This enables a web server to identify and track web browsers.</p>
<p>There are two main kinds of cookies: session cookies and persistent cookies.  Session cookies are deleted from your computer when you close your browser, whereas persistent cookies remain stored on your computer until deleted, or until they reach their expiry date.</p>

<br />

<p><b>Cookies on our website</b></p>
<p>QnA uses a cookie to keep the user choice of the sort order of the questions and a token to validate forms, any other cookie or adding to those described are made by the platform used. The following cookies this website are used:</p>
<ul>
    <li>.AspNet.ApplicationCookie</li>
    <li>ASP.NET_SessionId</li>
    <li>__RequestVerificationToken</li>
</ul>

<br />

<p><b>Refusing cookies</b></p>
<p>Most browsers allow you to refuse to accept cookies.</p>
<p>In Internet Explorer, you can refuse all cookies by clicking “Tools”, “Internet Options”, “Privacy”, and selecting “Block all cookies” using the sliding selector.</p>
<p>In Firefox, you can adjust your cookies settings by clicking “Tools”, “Options” and “Privacy”.</p>
<p>Blocking cookies will have a negative impact upon the usability of some websites.</p>
